html {
    font-family: 'Outfit', sans-serif;
}

main {
    box-sizing: border-box;
    background-color: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

hr {
    width: 90%;
    height: 2px;
    background-color: hsl(215, 32%, 27%);
    border: none;
}

h1 {
    color: white;
    font-weight: 600;
    font-size: 1.5em;
}

h1:hover {
    color:hsl(178, 100%, 50%);
    transition: .5s;
}

p {
    color: hsl(215, 51%, 70%);
    padding: 1em 0;
    line-height: 1.25em;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

a span {
    color: white;
}

a span:hover {
    color:hsl(178, 100%, 50%);
    transition: .5s;
}

.card {
    background-color: hsl(216, 50%, 16%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 375px;
    border-radius: 5%;
}

.linkImage {
    max-width: 87%;
}

a:hover span.overlay {
    display: block;
    background-color: rgba(0,255,247,0.3);
    height: 326px;
    width: 326px;
    position: relative;
    bottom: 354px;
    margin-bottom: -325px;
    border-radius: 5%;
}

.nftImage {
    max-width: 100%;
    margin: 1.6em 0 1em 0;
    border-radius: 5%;
}

.nftInfo {
    text-align: left;
    padding: 0 2em;
    width: 85%;
}

p.price {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    display: inline-flex;
    margin-top: -.5em;
}

p.timeLeft {
    display: inline-flex;
    float: right;
    margin-top:-.5em;
}

.price img, .timeLeft img {
    margin-right: .5em;
}

.avatar {
    border: 1px solid white;
    border-radius: 50%;
    width: 10%;
    margin-right: .75em;
    vertical-align: middle;
}

.createdBy {
    margin-bottom: 1em;
}

.attribution {
    margin-top: 2em;
    font-size: 11px; 
    justify-content: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }
