html {
    font-family: font-family: 'Outfit', sans-serif;
}

main {
    background-color: hsl(217, 54%, 11%);
        
}

.card {
    background-color: hsl(216, 50%, 16%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
