html {
    font-family: 'Outfit', sans-serif;
}

main {
    box-sizing: border-box;
    background-color: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

hr {
    width: 90%;
    height: 2px;
    background-color: hsl(215, 32%, 27%);
    border: none;
}

h1 a {
    color: white;
    font-weight: 600;
    /* font-size: 1.5rem; */
    font-size: 1rem;
}

h1 a:hover {
    color:hsl(178, 100%, 50%);
    transition: .5s;
}

p {
    color: hsl(215, 51%, 70%);
    padding: 1em 0;
    line-height: 1.5rem;
    /* font-size: 18px;*/
    font-size: .9rem;
    font-weight: 300;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

.creatorName {
    color: white;
}

.creatorName:hover {
    color:hsl(178, 100%, 50%);
    transition: .5s;
}

.card {
    background-color: hsl(216, 50%, 16%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* max-width: 375px; */
    max-width: 350px;
    border-radius: 5%;
}

.linkImage {
    /* max-width: 87%; */
    max-width: 80%;
    
}

a:hover span.overlay { 
    display: flex;
    background-color: rgba(0,255,247,0.3);
    /* height: 326px;
    width: 326px; */
    height: 280px;
    width: 280px;
    position: relative;
    /* bottom: 344px; */
    bottom: 298px;
    /* margin-bottom: -325px; */
    margin-bottom: -280px;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
}

.hoverEye {
    display: none;
}

 a:hover .hoverEye {
    display: block;
 }

.nftImage {
    max-width: 100%;
    margin: 1.6rem 0 1rem 0;
    border-radius: 5%;
}

.nftInfo {
    text-align: left;
    padding: 0 2rem 0 2.2rem;
    width: fit-content;
}

p.price {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    display: inline-flex;
    margin-top: -.25rem;
}

p.price::before {
    content: url("images/icon-ethereum.svg");
    margin-right: 5px;
}

p.timeLeft {
    display: inline-flex;
    float: right;
    margin-top:-.25rem;
}

p.timeLeft::before {
    content: url("images/icon-clock.svg");
    margin-right: 5px;
}

.avatar {
    border: 1px solid white;
    border-radius: 50%;
    width: 10%;
    margin-right: .75rem;
    vertical-align: middle;
}

.createdBy {
    margin-bottom: 1rem;
}

.attribution {
    margin-top: 2rem;
    font-size: 11px; 
    justify-content: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }
